name: Laravel FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer:v2

      # 3️⃣ Install Composer dependencies
      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader --no-interaction

      # 4️⃣ Deploy via FTP
      - name: Deploy to FTP server
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_KEY }}
          port: 21
          protocol: ftp
          local-dir: ./
          server-dir: /home/lookmart/test.lookmartbd.com/
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
            **/tests/**

            # 8️⃣ Run post-deploy Artisan commands
      - name: Post-deploy commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/lookmart/admin.lookmartbd.com
            php artisan migrate:fresh --seed --force
            php artisan config:clear
            php artisan config:cache
            php artisan cache:clear
            php artisan route:clear
            php artisan route:cache
            php artisan event:clear
            php artisan event:cache
            php artisan view:clear
            php artisan view:cache
